.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
}

.container {
  padding: 0;
}

[data-theme='dark'] .heroBanner {
  color: white;
  background-color: #205d3b;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .heroBanner {
    padding: 2rem 1rem;
  }
  .heroTitle {
    font-size: 2rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.install {
  margin-bottom: 1.5rem;
}
