.featureList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 4rem 1rem 3rem;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.feature {
  max-width: 18rem;
}

.feature h3 {
  font-size: 1.5rem;
}

.feature p {
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .featureList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .featureList {
    display: block;
    padding-top: 2rem;
  }
  .feature {
    margin: 0 auto;
    padding-top: 2rem;
  }
}